h1 {
    text-align: center;
    
    color:whitesmoke;
    font-size: 70px;
}

body {
    background-color: rgb(68, 67, 64);
    margin: 0px;
}

#menu{
  height: 20vh;
  display: flex;
  align-items: center;
}

.menu-item {
  color: white;
  font-size: clamp(1rem, 8vw, 3rem);
  font-family: "Ibarra Real Nova", serif;

  display: block;
  text-decoration: none;
  padding: clamp(0.25rem,0.5vw,1rem) 0rem;
  transition: opacity 400ms ease;
}

#menu-items:hover > .menu-item {
  opacity: 0.3;
}
#menu-items:hover > .menu-item:hover {
  opacity: 1;
}