body {
  background-color: rgb(82, 7, 153);
}
h1 {
  text-align: center;
}
h1 span {
    background-color: rgb(38, 0, 141);
    color:whitesmoke;
    font-size: 70px;
    border-radius: 10px;
    padding: 10px;
}



#menu-items {
  display: flex;
  justify-content: space-around;
}  
.menu-item {
  color: white;
  font-family: "Ibarra Real Nova", serif;
  text-align: center;
  padding: 5px;
  flex-grow: 0;
  border-radius: 10px;
  font-size: 30px;
  text-decoration: none;
  transition: opacity 400ms ease;
  background-color: black;
}

.menu-item:hover {
  /* CSS properties for hovered menu item */
  opacity: 1;
}

.menu-item:not(:hover) {
  /* CSS properties for non-hovered menu items */
  opacity: 0.4;
}